.col-1{
  border-style: solid;
  border-color: #b5b5b5;
  border-width: 1px;
  height : 5vw;
}
#gris{
  background-color: #333333;
}
#orange{
  background-color: #ff7f2a;
}
#jaune{
  background-color: #ffcc00;
}
#noir{
  background-color: #000;
}